#Importar dados

--> Aqui importaremos as bibliotecas que serão utilizadas durante o desenvolvimento do algoritmo

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

--> Aqui vamos importar a biblioteca pandas e as tabelas que se encontram no documento xlsx (excel) no google drive

In [ ]:
# importar dados da tabela com nota dos alunos
caminho = '/content/drive/MyDrive/Excel/Colegio_notas_pasta.xlsx'
lista_tabela_notas = []
for i in range(9):
    tabela = pd.read_excel(caminho,sheet_name = i)
    lista_tabela_notas.append(tabela)
for tabela in lista_tabela_notas:
    print(tabela)

NameError: ignored

--> Aqui colocaremos o nome das matérias nas tabelas, utilizando um loop for e a função enumerate(). O nome será colocado na coluna que anteriormente era chamada de "Alunos"

In [ ]:
#Colocar o nome das materias nas tabelas
materias = ['portugues','matematica','biologia','historia','filosofia',
            'geografia','edu_fisica','fisica','quimica']
tabela_notas=[]
for i,tabela in enumerate(lista_tabela_notas):
    tabela = tabela.rename(columns={'Alunos':materias[i]})
    tabela_notas.append(tabela)
for tabela in tabela_notas:
    display(tabela)

             portugues   prova_1   prova_2   prova_3
0          Jorge Tadeu  6.569263  0.748948  3.060888
1   Richarlison mendes  3.035194  3.907927  7.356579
2        Maria Eduarda  6.334619  3.233774  2.608312
3        Rafael Junior  5.335482  2.123363  3.899530
4     Aleister Gabriel  8.139750  1.637978  8.533264
5          Julio Cesar  0.861729  1.200423  3.963525
6           Joao Vitor  8.035590  1.095354  9.201362
7         Jose Ricardo  9.380080  6.854786  1.612026
8          Bruno Silva  5.253757  7.240917  6.142450
9        Marrone Silva  1.110718  8.831182  8.594788
10       Jorge Antônio  7.386034  5.092878  2.362873
11        José Massena  1.781393  5.271926  7.651879
12      Renato alberto  5.656514  7.950240  4.613436

            matematica   prova_1   prova_2   prova_3
0          Jorge Tadeu  6.827783  8.981734  7.068809
1   Richarlison mendes  4.066569  7.578609  0.710259
2        Maria Eduarda  9.797298  2.662097  7.017319
3        Rafael Junior  4.539809  2.225612  1.219347
4     Aleister Gabriel  8.005475  3.141428  8.972978
5          Julio Cesar  2.977180  8.213251  0.441397
6           Joao Vitor  9.472655  5.019393  9.483074
7         Jose Ricardo  5.241330  0.369040  3.302114
8          Bruno Silva  5.272521  7.966840  0.951564
9        Marrone Silva  9.059032  0.424832  7.158742
10       Jorge Antônio  2.803329  4.205762  3.673184
11        José Massena  7.051157  0.542673  2.361112
12      Renato alberto  3.236017  9.234250  7.534827

              biologia   prova_1   prova_2   prova_3
0          Jorge Tadeu  3.646923  5.931347  6.500321
1   Richarlison mendes  5.082224  3.138107  5.084918
2        Maria Eduarda  9.550968  3.280416  6.517713
3        Rafael Junior  8.730089  3.907712  0.133201
4     Aleister Gabriel  7.172237  1.882270  0.407271
5          Julio Cesar  5.600329  7.142617  2.925425
6           Joao Vitor  7.252182  7.151717  7.823372
7         Jose Ricardo  1.220512  0.889609  7.973423
8          Bruno Silva  2.411517  9.061182  4.460511
9        Marrone Silva  1.922449  8.558120  4.424758
10       Jorge Antônio  3.303091  0.449614  0.800630
11        José Massena  5.663772  7.380375  3.634276
12      Renato alberto  2.492975  5.491097  7.047459

              historia   prova_1   prova_2   prova_3
0          Jorge Tadeu  5.835946  3.183336  8.825754
1   Richarlison mendes  6.860891  7.144797  0.468834
2        Maria Eduarda  7.549682  8.778796  7.727172
3        Rafael Junior  7.786413  9.543537  8.127616
4     Aleister Gabriel  9.201954  2.602618  2.488891
5          Julio Cesar  7.809948  3.477066  6.921316
6           Joao Vitor  2.917961  5.438353  7.801429
7         Jose Ricardo  0.846475  7.158651  3.462986
8          Bruno Silva  2.150683  5.695024  8.970754
9        Marrone Silva  2.053161  0.560488  8.816158
10       Jorge Antônio  7.108692  1.481745  7.943482
11        José Massena  2.530871  8.838416  8.440622
12      Renato alberto  1.413381  1.764226  5.094634

             filosofia   prova_1   prova_2   prova_3
0          Jorge Tadeu  3.705725  9.815540  7.423069
1   Richarlison mendes  6.388519  5.036796  4.871575
2        Maria Eduarda  5.440318  5.108122  7.963133
3        Rafael Junior  0.293586  8.915183  2.636083
4     Aleister Gabriel  0.174768  7.458869  3.976132
5          Julio Cesar  6.015760  8.592731  1.591417
6           Joao Vitor  3.281247  3.235581  7.029579
7         Jose Ricardo  5.446449  1.408707  1.970963
8          Bruno Silva  1.818485  4.509684  6.172539
9        Marrone Silva  8.167984  3.168567  9.038060
10       Jorge Antônio  8.463378  9.406098  0.225371
11        José Massena  2.243961  2.135946  8.152472
12      Renato alberto  3.021469  6.189009  0.078586

             geografia   prova_1   prova_2   prova_3
0          Jorge Tadeu  0.575602  8.522962  4.147011
1   Richarlison mendes  6.573555  3.394984  5.128389
2        Maria Eduarda  7.044484  5.942331  3.142805
3        Rafael Junior  7.837861  5.007683  2.100813
4     Aleister Gabriel  0.297361  1.420593  9.904267
5          Julio Cesar  6.379215  8.635809  7.821993
6           Joao Vitor  0.699537  4.488019  2.976145
7         Jose Ricardo  4.255248  1.444226  9.742825
8          Bruno Silva  6.656334  3.510179  9.866010
9        Marrone Silva  8.089108  2.899986  3.709365
10       Jorge Antônio  4.841812  5.071655  9.912672
11        José Massena  6.336491  3.390257  5.704738
12      Renato alberto  5.692571  0.714170  2.611198

            edu_fisica   prova_1   prova_2   prova_3
0          Jorge Tadeu  1.881270  5.171272  9.644398
1   Richarlison mendes  7.891055  7.646101  6.363374
2        Maria Eduarda  7.681000  4.472419  1.882607
3        Rafael Junior  3.701147  8.354735  3.090567
4     Aleister Gabriel  1.951024  0.097175  2.083069
5          Julio Cesar  8.848870  3.026288  8.652398
6           Joao Vitor  9.370714  1.767408  7.590811
7         Jose Ricardo  0.409706  3.602794  8.425895
8          Bruno Silva  0.472314  1.003424  1.389056
9        Marrone Silva  8.343615  5.316357  8.976836
10       Jorge Antônio  1.368721  0.852348  4.339183
11        José Massena  0.566373  8.455084  5.208775
12      Renato alberto  4.645920  6.574350  7.086311

                fisica   prova_1   prova_2   prova_3
0          Jorge Tadeu  4.054002  8.164597  0.044255
1   Richarlison mendes  2.120789  5.045462  3.834510
2        Maria Eduarda  0.710992  6.055527  6.217716
3        Rafael Junior  8.146301  3.986695  2.426475
4     Aleister Gabriel  8.590782  0.862586  3.827360
5          Julio Cesar  4.287007  2.882229  5.748163
6           Joao Vitor  5.134574  3.910776  1.371202
7         Jose Ricardo  0.140685  1.714736  1.693141
8          Bruno Silva  1.057378  1.907863  7.677946
9        Marrone Silva  1.657365  6.366105  3.464940
10       Jorge Antônio  9.483078  4.393049  3.189109
11        José Massena  6.463985  0.067245  2.610220
12      Renato alberto  8.175558  2.906694  7.170977

               quimica   prova_1   prova_2   prova_3
0          Jorge Tadeu  8.767038  0.737670  7.555155
1   Richarlison mendes  8.915092  5.149840  0.708864
2        Maria Eduarda  5.702155  8.356946  7.374137
3        Rafael Junior  6.135487  6.540568  5.233675
4     Aleister Gabriel  5.621668  2.009238  8.337828
5          Julio Cesar  7.991128  5.254053  9.690860
6           Joao Vitor  5.395997  1.881086  2.624919
7         Jose Ricardo  7.384916  9.067428  8.627768
8          Bruno Silva  2.549665  4.450836  3.815774
9        Marrone Silva  2.020240  7.075289  6.610082
10       Jorge Antônio  2.554240  5.824705  8.881372
11        José Massena  3.425831  6.016686  5.740215
12      Renato alberto  9.908652  2.830674  7.521222

--> Aqui criaremos uma coluna com média das notas de cada aluno para cada uma das matérias

In [ ]:
for tabela in tabela_notas:
    tabela['média'] = (tabela['prova_1'] + tabela['prova_2'] + tabela['prova_3'])/3
display(tabela_notas)

[             portugues   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  6.569263  0.748948  3.060888  3.459700
 1   Richarlison mendes  3.035194  3.907927  7.356579  4.766567
 2        Maria Eduarda  6.334619  3.233774  2.608312  4.058902
 3        Rafael Junior  5.335482  2.123363  3.899530  3.786125
 4     Aleister Gabriel  8.139750  1.637978  8.533264  6.103664
 5          Julio Cesar  0.861729  1.200423  3.963525  2.008559
 6           Joao Vitor  8.035590  1.095354  9.201362  6.110769
 7         Jose Ricardo  9.380080  6.854786  1.612026  5.948964
 8          Bruno Silva  5.253757  7.240917  6.142450  6.212375
 9        Marrone Silva  1.110718  8.831182  8.594788  6.178896
 10       Jorge Antônio  7.386034  5.092878  2.362873  4.947262
 11        José Massena  1.781393  5.271926  7.651879  4.901732
 12      Renato alberto  5.656514  7.950240  4.613436  6.073397,
             matematica   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  6.827783  8.981734  7.068809  7.626109
 1   Richarlison mendes  4.066569  7.578609  0.710259  4.118479
 2        Maria Eduarda  9.797298  2.662097  7.017319  6.492238
 3        Rafael Junior  4.539809  2.225612  1.219347  2.661589
 4     Aleister Gabriel  8.005475  3.141428  8.972978  6.706627
 5          Julio Cesar  2.977180  8.213251  0.441397  3.877276
 6           Joao Vitor  9.472655  5.019393  9.483074  7.991707
 7         Jose Ricardo  5.241330  0.369040  3.302114  2.970828
 8          Bruno Silva  5.272521  7.966840  0.951564  4.730308
 9        Marrone Silva  9.059032  0.424832  7.158742  5.547535
 10       Jorge Antônio  2.803329  4.205762  3.673184  3.560758
 11        José Massena  7.051157  0.542673  2.361112  3.318314
 12      Renato alberto  3.236017  9.234250  7.534827  6.668365,
               biologia   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  3.646923  5.931347  6.500321  5.359530
 1   Richarlison mendes  5.082224  3.138107  5.084918  4.435083
 2        Maria Eduarda  9.550968  3.280416  6.517713  6.449699
 3        Rafael Junior  8.730089  3.907712  0.133201  4.257001
 4     Aleister Gabriel  7.172237  1.882270  0.407271  3.153926
 5          Julio Cesar  5.600329  7.142617  2.925425  5.222790
 6           Joao Vitor  7.252182  7.151717  7.823372  7.409090
 7         Jose Ricardo  1.220512  0.889609  7.973423  3.361181
 8          Bruno Silva  2.411517  9.061182  4.460511  5.311070
 9        Marrone Silva  1.922449  8.558120  4.424758  4.968442
 10       Jorge Antônio  3.303091  0.449614  0.800630  1.517778
 11        José Massena  5.663772  7.380375  3.634276  5.559475
 12      Renato alberto  2.492975  5.491097  7.047459  5.010510,
               historia   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  5.835946  3.183336  8.825754  5.948345
 1   Richarlison mendes  6.860891  7.144797  0.468834  4.824841
 2        Maria Eduarda  7.549682  8.778796  7.727172  8.018550
 3        Rafael Junior  7.786413  9.543537  8.127616  8.485855
 4     Aleister Gabriel  9.201954  2.602618  2.488891  4.764488
 5          Julio Cesar  7.809948  3.477066  6.921316  6.069443
 6           Joao Vitor  2.917961  5.438353  7.801429  5.385914
 7         Jose Ricardo  0.846475  7.158651  3.462986  3.822704
 8          Bruno Silva  2.150683  5.695024  8.970754  5.605487
 9        Marrone Silva  2.053161  0.560488  8.816158  3.809936
 10       Jorge Antônio  7.108692  1.481745  7.943482  5.511306
 11        José Massena  2.530871  8.838416  8.440622  6.603303
 12      Renato alberto  1.413381  1.764226  5.094634  2.757413,
              filosofia   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  3.705725  9.815540  7.423069  6.981445
 1   Richarlison mendes  6.388519  5.036796  4.871575  5.432297
 2        Maria Eduarda  5.440318  5.108122  7.963133  6.170524
 3        Rafael Junior  0.293586  8.915183  2.636083  3.948284
 4     Aleister Gabriel  0.174768  7.458869  3.976132  3.869923
 5          Julio Cesar  6.015760  8.592731  1.591417  5.399970
 6           Joao Vitor  3.281247  3.235581  7.029579  4.515469
 7         Jose Ricardo  5.446449  1.408707  1.970963  2.942040
 8          Bruno Silva  1.818485  4.509684  6.172539  4.166902
 9        Marrone Silva  8.167984  3.168567  9.038060  6.791537
 10       Jorge Antônio  8.463378  9.406098  0.225371  6.031616
 11        José Massena  2.243961  2.135946  8.152472  4.177460
 12      Renato alberto  3.021469  6.189009  0.078586  3.096354,
              geografia   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  0.575602  8.522962  4.147011  4.415192
 1   Richarlison mendes  6.573555  3.394984  5.128389  5.032310
 2        Maria Eduarda  7.044484  5.942331  3.142805  5.376540
 3        Rafael Junior  7.837861  5.007683  2.100813  4.982119
 4     Aleister Gabriel  0.297361  1.420593  9.904267  3.874074
 5          Julio Cesar  6.379215  8.635809  7.821993  7.612339
 6           Joao Vitor  0.699537  4.488019  2.976145  2.721233
 7         Jose Ricardo  4.255248  1.444226  9.742825  5.147433
 8          Bruno Silva  6.656334  3.510179  9.866010  6.677508
 9        Marrone Silva  8.089108  2.899986  3.709365  4.899486
 10       Jorge Antônio  4.841812  5.071655  9.912672  6.608713
 11        José Massena  6.336491  3.390257  5.704738  5.143829
 12      Renato alberto  5.692571  0.714170  2.611198  3.005980,
             edu_fisica   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  1.881270  5.171272  9.644398  5.565647
 1   Richarlison mendes  7.891055  7.646101  6.363374  7.300177
 2        Maria Eduarda  7.681000  4.472419  1.882607  4.678675
 3        Rafael Junior  3.701147  8.354735  3.090567  5.048816
 4     Aleister Gabriel  1.951024  0.097175  2.083069  1.377089
 5          Julio Cesar  8.848870  3.026288  8.652398  6.842519
 6           Joao Vitor  9.370714  1.767408  7.590811  6.242978
 7         Jose Ricardo  0.409706  3.602794  8.425895  4.146132
 8          Bruno Silva  0.472314  1.003424  1.389056  0.954931
 9        Marrone Silva  8.343615  5.316357  8.976836  7.545603
 10       Jorge Antônio  1.368721  0.852348  4.339183  2.186751
 11        José Massena  0.566373  8.455084  5.208775  4.743411
 12      Renato alberto  4.645920  6.574350  7.086311  6.102194,
                 fisica   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  4.054002  8.164597  0.044255  4.087618
 1   Richarlison mendes  2.120789  5.045462  3.834510  3.666920
 2        Maria Eduarda  0.710992  6.055527  6.217716  4.328078
 3        Rafael Junior  8.146301  3.986695  2.426475  4.853157
 4     Aleister Gabriel  8.590782  0.862586  3.827360  4.426909
 5          Julio Cesar  4.287007  2.882229  5.748163  4.305800
 6           Joao Vitor  5.134574  3.910776  1.371202  3.472184
 7         Jose Ricardo  0.140685  1.714736  1.693141  1.182854
 8          Bruno Silva  1.057378  1.907863  7.677946  3.547729
 9        Marrone Silva  1.657365  6.366105  3.464940  3.829470
 10       Jorge Antônio  9.483078  4.393049  3.189109  5.688412
 11        José Massena  6.463985  0.067245  2.610220  3.047150
 12      Renato alberto  8.175558  2.906694  7.170977  6.084410,
                quimica   prova_1   prova_2   prova_3     média
 0          Jorge Tadeu  8.767038  0.737670  7.555155  5.686621
 1   Richarlison mendes  8.915092  5.149840  0.708864  4.924599
 2        Maria Eduarda  5.702155  8.356946  7.374137  7.144412
 3        Rafael Junior  6.135487  6.540568  5.233675  5.969910
 4     Aleister Gabriel  5.621668  2.009238  8.337828  5.322912
 5          Julio Cesar  7.991128  5.254053  9.690860  7.645347
 6           Joao Vitor  5.395997  1.881086  2.624919  3.300667
 7         Jose Ricardo  7.384916  9.067428  8.627768  8.360037
 8          Bruno Silva  2.549665  4.450836  3.815774  3.605425
 9        Marrone Silva  2.020240  7.075289  6.610082  5.235204
 10       Jorge Antônio  2.554240  5.824705  8.881372  5.753439
 11        José Massena  3.425831  6.016686  5.740215  5.060911
 12      Renato alberto  9.908652  2.830674  7.521222  6.753516]

Aqui Criaremos uma tabela nova, que receberá os dados dos alunos com a maior nota em cada uma das matérias... Caso hajam dois alunos com a mesma nota, ambos devem aparecer na tabela, então devemos filtrar corretamente.

In [ ]:
tabela_melhores_desempenhos = pd.DataFrame()
nota = []
nome = []

n = -1
for tabela in tabela_notas:
    n += 1
    nota_index = tabela['média'].idxmax()
    nota.append(tabela['média'].max())
    nome.append(tabela.loc[nota_index,materias[n]])

tabela_melhores_desempenhos['Alunos'] = nome
tabela_melhores_desempenhos['notas'] = nota
tabela_melhores_desempenhos['matérias'] = materias

Veremos as maiores notas em cada matéria com base em um gráfico usando plotly express

In [ ]:
grafico_melhores_notas = px.line(x=tabela_melhores_desempenhos['matérias'],\
                                 y = tabela_melhores_desempenhos['notas'],\
                                 title = 'Melhores Notas: Linha',\
                                 template = 'plotly_dark',\
                                 labels = {'x':'matérias','y':'notas'})

grafico_melhores_notas.show()

O gráfico no formato line ficou muito feio e pouco entendível, então faremos um gráfico do tipo coluna, com o método px.bar()

In [ ]:
largura = 0.4
grafico_melhores_notas_coluna = px.bar(x=tabela_melhores_desempenhos['matérias'],\
                                 y = tabela_melhores_desempenhos['notas'],\
                                 title = 'Melhores Notas: Linha',\
                                 template = 'plotly_dark',\
                                 labels = {'x':'matérias','y':'notas'},\
                                 text = tabela_melhores_desempenhos['Alunos'])

grafico_melhores_notas_coluna.show()

criar uma nova coluna indicando os aprovados e reprovados

In [ ]:
media = []

for tabela in tabela_notas:
    tabela['Status'] = tabela['média'].apply(lambda x: 'aprovado' if x>6 else 'reprovado')
tabela_notas

[             portugues   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  6.569263  0.748948  3.060888  3.459700  reprovado
 1   Richarlison mendes  3.035194  3.907927  7.356579  4.766567  reprovado
 2        Maria Eduarda  6.334619  3.233774  2.608312  4.058902  reprovado
 3        Rafael Junior  5.335482  2.123363  3.899530  3.786125  reprovado
 4     Aleister Gabriel  8.139750  1.637978  8.533264  6.103664   aprovado
 5          Julio Cesar  0.861729  1.200423  3.963525  2.008559  reprovado
 6           Joao Vitor  8.035590  1.095354  9.201362  6.110769   aprovado
 7         Jose Ricardo  9.380080  6.854786  1.612026  5.948964  reprovado
 8          Bruno Silva  5.253757  7.240917  6.142450  6.212375   aprovado
 9        Marrone Silva  1.110718  8.831182  8.594788  6.178896   aprovado
 10       Jorge Antônio  7.386034  5.092878  2.362873  4.947262  reprovado
 11        José Massena  1.781393  5.271926  7.651879  4.901732  reprovado
 12      Renato alberto  5.656514  7.950240  4.613436  6.073397   aprovado,
             matematica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  6.827783  8.981734  7.068809  7.626109   aprovado
 1   Richarlison mendes  4.066569  7.578609  0.710259  4.118479  reprovado
 2        Maria Eduarda  9.797298  2.662097  7.017319  6.492238   aprovado
 3        Rafael Junior  4.539809  2.225612  1.219347  2.661589  reprovado
 4     Aleister Gabriel  8.005475  3.141428  8.972978  6.706627   aprovado
 5          Julio Cesar  2.977180  8.213251  0.441397  3.877276  reprovado
 6           Joao Vitor  9.472655  5.019393  9.483074  7.991707   aprovado
 7         Jose Ricardo  5.241330  0.369040  3.302114  2.970828  reprovado
 8          Bruno Silva  5.272521  7.966840  0.951564  4.730308  reprovado
 9        Marrone Silva  9.059032  0.424832  7.158742  5.547535  reprovado
 10       Jorge Antônio  2.803329  4.205762  3.673184  3.560758  reprovado
 11        José Massena  7.051157  0.542673  2.361112  3.318314  reprovado
 12      Renato alberto  3.236017  9.234250  7.534827  6.668365   aprovado,
               biologia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  3.646923  5.931347  6.500321  5.359530  reprovado
 1   Richarlison mendes  5.082224  3.138107  5.084918  4.435083  reprovado
 2        Maria Eduarda  9.550968  3.280416  6.517713  6.449699   aprovado
 3        Rafael Junior  8.730089  3.907712  0.133201  4.257001  reprovado
 4     Aleister Gabriel  7.172237  1.882270  0.407271  3.153926  reprovado
 5          Julio Cesar  5.600329  7.142617  2.925425  5.222790  reprovado
 6           Joao Vitor  7.252182  7.151717  7.823372  7.409090   aprovado
 7         Jose Ricardo  1.220512  0.889609  7.973423  3.361181  reprovado
 8          Bruno Silva  2.411517  9.061182  4.460511  5.311070  reprovado
 9        Marrone Silva  1.922449  8.558120  4.424758  4.968442  reprovado
 10       Jorge Antônio  3.303091  0.449614  0.800630  1.517778  reprovado
 11        José Massena  5.663772  7.380375  3.634276  5.559475  reprovado
 12      Renato alberto  2.492975  5.491097  7.047459  5.010510  reprovado,
               historia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  5.835946  3.183336  8.825754  5.948345  reprovado
 1   Richarlison mendes  6.860891  7.144797  0.468834  4.824841  reprovado
 2        Maria Eduarda  7.549682  8.778796  7.727172  8.018550   aprovado
 3        Rafael Junior  7.786413  9.543537  8.127616  8.485855   aprovado
 4     Aleister Gabriel  9.201954  2.602618  2.488891  4.764488  reprovado
 5          Julio Cesar  7.809948  3.477066  6.921316  6.069443   aprovado
 6           Joao Vitor  2.917961  5.438353  7.801429  5.385914  reprovado
 7         Jose Ricardo  0.846475  7.158651  3.462986  3.822704  reprovado
 8          Bruno Silva  2.150683  5.695024  8.970754  5.605487  reprovado
 9        Marrone Silva  2.053161  0.560488  8.816158  3.809936  reprovado
 10       Jorge Antônio  7.108692  1.481745  7.943482  5.511306  reprovado
 11        José Massena  2.530871  8.838416  8.440622  6.603303   aprovado
 12      Renato alberto  1.413381  1.764226  5.094634  2.757413  reprovado,
              filosofia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  3.705725  9.815540  7.423069  6.981445   aprovado
 1   Richarlison mendes  6.388519  5.036796  4.871575  5.432297  reprovado
 2        Maria Eduarda  5.440318  5.108122  7.963133  6.170524   aprovado
 3        Rafael Junior  0.293586  8.915183  2.636083  3.948284  reprovado
 4     Aleister Gabriel  0.174768  7.458869  3.976132  3.869923  reprovado
 5          Julio Cesar  6.015760  8.592731  1.591417  5.399970  reprovado
 6           Joao Vitor  3.281247  3.235581  7.029579  4.515469  reprovado
 7         Jose Ricardo  5.446449  1.408707  1.970963  2.942040  reprovado
 8          Bruno Silva  1.818485  4.509684  6.172539  4.166902  reprovado
 9        Marrone Silva  8.167984  3.168567  9.038060  6.791537   aprovado
 10       Jorge Antônio  8.463378  9.406098  0.225371  6.031616   aprovado
 11        José Massena  2.243961  2.135946  8.152472  4.177460  reprovado
 12      Renato alberto  3.021469  6.189009  0.078586  3.096354  reprovado,
              geografia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  0.575602  8.522962  4.147011  4.415192  reprovado
 1   Richarlison mendes  6.573555  3.394984  5.128389  5.032310  reprovado
 2        Maria Eduarda  7.044484  5.942331  3.142805  5.376540  reprovado
 3        Rafael Junior  7.837861  5.007683  2.100813  4.982119  reprovado
 4     Aleister Gabriel  0.297361  1.420593  9.904267  3.874074  reprovado
 5          Julio Cesar  6.379215  8.635809  7.821993  7.612339   aprovado
 6           Joao Vitor  0.699537  4.488019  2.976145  2.721233  reprovado
 7         Jose Ricardo  4.255248  1.444226  9.742825  5.147433  reprovado
 8          Bruno Silva  6.656334  3.510179  9.866010  6.677508   aprovado
 9        Marrone Silva  8.089108  2.899986  3.709365  4.899486  reprovado
 10       Jorge Antônio  4.841812  5.071655  9.912672  6.608713   aprovado
 11        José Massena  6.336491  3.390257  5.704738  5.143829  reprovado
 12      Renato alberto  5.692571  0.714170  2.611198  3.005980  reprovado,
             edu_fisica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  1.881270  5.171272  9.644398  5.565647  reprovado
 1   Richarlison mendes  7.891055  7.646101  6.363374  7.300177   aprovado
 2        Maria Eduarda  7.681000  4.472419  1.882607  4.678675  reprovado
 3        Rafael Junior  3.701147  8.354735  3.090567  5.048816  reprovado
 4     Aleister Gabriel  1.951024  0.097175  2.083069  1.377089  reprovado
 5          Julio Cesar  8.848870  3.026288  8.652398  6.842519   aprovado
 6           Joao Vitor  9.370714  1.767408  7.590811  6.242978   aprovado
 7         Jose Ricardo  0.409706  3.602794  8.425895  4.146132  reprovado
 8          Bruno Silva  0.472314  1.003424  1.389056  0.954931  reprovado
 9        Marrone Silva  8.343615  5.316357  8.976836  7.545603   aprovado
 10       Jorge Antônio  1.368721  0.852348  4.339183  2.186751  reprovado
 11        José Massena  0.566373  8.455084  5.208775  4.743411  reprovado
 12      Renato alberto  4.645920  6.574350  7.086311  6.102194   aprovado,
                 fisica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  4.054002  8.164597  0.044255  4.087618  reprovado
 1   Richarlison mendes  2.120789  5.045462  3.834510  3.666920  reprovado
 2        Maria Eduarda  0.710992  6.055527  6.217716  4.328078  reprovado
 3        Rafael Junior  8.146301  3.986695  2.426475  4.853157  reprovado
 4     Aleister Gabriel  8.590782  0.862586  3.827360  4.426909  reprovado
 5          Julio Cesar  4.287007  2.882229  5.748163  4.305800  reprovado
 6           Joao Vitor  5.134574  3.910776  1.371202  3.472184  reprovado
 7         Jose Ricardo  0.140685  1.714736  1.693141  1.182854  reprovado
 8          Bruno Silva  1.057378  1.907863  7.677946  3.547729  reprovado
 9        Marrone Silva  1.657365  6.366105  3.464940  3.829470  reprovado
 10       Jorge Antônio  9.483078  4.393049  3.189109  5.688412  reprovado
 11        José Massena  6.463985  0.067245  2.610220  3.047150  reprovado
 12      Renato alberto  8.175558  2.906694  7.170977  6.084410   aprovado,
                quimica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  8.767038  0.737670  7.555155  5.686621  reprovado
 1   Richarlison mendes  8.915092  5.149840  0.708864  4.924599  reprovado
 2        Maria Eduarda  5.702155  8.356946  7.374137  7.144412   aprovado
 3        Rafael Junior  6.135487  6.540568  5.233675  5.969910  reprovado
 4     Aleister Gabriel  5.621668  2.009238  8.337828  5.322912  reprovado
 5          Julio Cesar  7.991128  5.254053  9.690860  7.645347   aprovado
 6           Joao Vitor  5.395997  1.881086  2.624919  3.300667  reprovado
 7         Jose Ricardo  7.384916  9.067428  8.627768  8.360037   aprovado
 8          Bruno Silva  2.549665  4.450836  3.815774  3.605425  reprovado
 9        Marrone Silva  2.020240  7.075289  6.610082  5.235204  reprovado
 10       Jorge Antônio  2.554240  5.824705  8.881372  5.753439  reprovado
 11        José Massena  3.425831  6.016686  5.740215  5.060911  reprovado
 12      Renato alberto  9.908652  2.830674  7.521222  6.753516   aprovado]

Criar as tabelas para alunos  reprovados e aprovados em cada uma das matérias

In [ ]:
reprovados = []
aprovados = []
for tabela in tabela_notas:
    reprovados.append(tabela.query('Status == "reprovado" '))
    aprovados.append(tabela.query('Status == "aprovado"'))

display(reprovados,aprovados)

[             portugues   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  6.569263  0.748948  3.060888  3.459700  reprovado
 1   Richarlison mendes  3.035194  3.907927  7.356579  4.766567  reprovado
 2        Maria Eduarda  6.334619  3.233774  2.608312  4.058902  reprovado
 3        Rafael Junior  5.335482  2.123363  3.899530  3.786125  reprovado
 5          Julio Cesar  0.861729  1.200423  3.963525  2.008559  reprovado
 7         Jose Ricardo  9.380080  6.854786  1.612026  5.948964  reprovado
 10       Jorge Antônio  7.386034  5.092878  2.362873  4.947262  reprovado
 11        José Massena  1.781393  5.271926  7.651879  4.901732  reprovado,
             matematica   prova_1   prova_2   prova_3     média     Status
 1   Richarlison mendes  4.066569  7.578609  0.710259  4.118479  reprovado
 3        Rafael Junior  4.539809  2.225612  1.219347  2.661589  reprovado
 5          Julio Cesar  2.977180  8.213251  0.441397  3.877276  reprovado
 7         Jose Ricardo  5.241330  0.369040  3.302114  2.970828  reprovado
 8          Bruno Silva  5.272521  7.966840  0.951564  4.730308  reprovado
 9        Marrone Silva  9.059032  0.424832  7.158742  5.547535  reprovado
 10       Jorge Antônio  2.803329  4.205762  3.673184  3.560758  reprovado
 11        José Massena  7.051157  0.542673  2.361112  3.318314  reprovado,
               biologia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  3.646923  5.931347  6.500321  5.359530  reprovado
 1   Richarlison mendes  5.082224  3.138107  5.084918  4.435083  reprovado
 3        Rafael Junior  8.730089  3.907712  0.133201  4.257001  reprovado
 4     Aleister Gabriel  7.172237  1.882270  0.407271  3.153926  reprovado
 5          Julio Cesar  5.600329  7.142617  2.925425  5.222790  reprovado
 7         Jose Ricardo  1.220512  0.889609  7.973423  3.361181  reprovado
 8          Bruno Silva  2.411517  9.061182  4.460511  5.311070  reprovado
 9        Marrone Silva  1.922449  8.558120  4.424758  4.968442  reprovado
 10       Jorge Antônio  3.303091  0.449614  0.800630  1.517778  reprovado
 11        José Massena  5.663772  7.380375  3.634276  5.559475  reprovado
 12      Renato alberto  2.492975  5.491097  7.047459  5.010510  reprovado,
               historia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  5.835946  3.183336  8.825754  5.948345  reprovado
 1   Richarlison mendes  6.860891  7.144797  0.468834  4.824841  reprovado
 4     Aleister Gabriel  9.201954  2.602618  2.488891  4.764488  reprovado
 6           Joao Vitor  2.917961  5.438353  7.801429  5.385914  reprovado
 7         Jose Ricardo  0.846475  7.158651  3.462986  3.822704  reprovado
 8          Bruno Silva  2.150683  5.695024  8.970754  5.605487  reprovado
 9        Marrone Silva  2.053161  0.560488  8.816158  3.809936  reprovado
 10       Jorge Antônio  7.108692  1.481745  7.943482  5.511306  reprovado
 12      Renato alberto  1.413381  1.764226  5.094634  2.757413  reprovado,
              filosofia   prova_1   prova_2   prova_3     média     Status
 1   Richarlison mendes  6.388519  5.036796  4.871575  5.432297  reprovado
 3        Rafael Junior  0.293586  8.915183  2.636083  3.948284  reprovado
 4     Aleister Gabriel  0.174768  7.458869  3.976132  3.869923  reprovado
 5          Julio Cesar  6.015760  8.592731  1.591417  5.399970  reprovado
 6           Joao Vitor  3.281247  3.235581  7.029579  4.515469  reprovado
 7         Jose Ricardo  5.446449  1.408707  1.970963  2.942040  reprovado
 8          Bruno Silva  1.818485  4.509684  6.172539  4.166902  reprovado
 11        José Massena  2.243961  2.135946  8.152472  4.177460  reprovado
 12      Renato alberto  3.021469  6.189009  0.078586  3.096354  reprovado,
              geografia   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  0.575602  8.522962  4.147011  4.415192  reprovado
 1   Richarlison mendes  6.573555  3.394984  5.128389  5.032310  reprovado
 2        Maria Eduarda  7.044484  5.942331  3.142805  5.376540  reprovado
 3        Rafael Junior  7.837861  5.007683  2.100813  4.982119  reprovado
 4     Aleister Gabriel  0.297361  1.420593  9.904267  3.874074  reprovado
 6           Joao Vitor  0.699537  4.488019  2.976145  2.721233  reprovado
 7         Jose Ricardo  4.255248  1.444226  9.742825  5.147433  reprovado
 9        Marrone Silva  8.089108  2.899986  3.709365  4.899486  reprovado
 11        José Massena  6.336491  3.390257  5.704738  5.143829  reprovado
 12      Renato alberto  5.692571  0.714170  2.611198  3.005980  reprovado,
           edu_fisica   prova_1   prova_2   prova_3     média     Status
 0        Jorge Tadeu  1.881270  5.171272  9.644398  5.565647  reprovado
 2      Maria Eduarda  7.681000  4.472419  1.882607  4.678675  reprovado
 3      Rafael Junior  3.701147  8.354735  3.090567  5.048816  reprovado
 4   Aleister Gabriel  1.951024  0.097175  2.083069  1.377089  reprovado
 7       Jose Ricardo  0.409706  3.602794  8.425895  4.146132  reprovado
 8        Bruno Silva  0.472314  1.003424  1.389056  0.954931  reprovado
 10     Jorge Antônio  1.368721  0.852348  4.339183  2.186751  reprovado
 11      José Massena  0.566373  8.455084  5.208775  4.743411  reprovado,
                 fisica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  4.054002  8.164597  0.044255  4.087618  reprovado
 1   Richarlison mendes  2.120789  5.045462  3.834510  3.666920  reprovado
 2        Maria Eduarda  0.710992  6.055527  6.217716  4.328078  reprovado
 3        Rafael Junior  8.146301  3.986695  2.426475  4.853157  reprovado
 4     Aleister Gabriel  8.590782  0.862586  3.827360  4.426909  reprovado
 5          Julio Cesar  4.287007  2.882229  5.748163  4.305800  reprovado
 6           Joao Vitor  5.134574  3.910776  1.371202  3.472184  reprovado
 7         Jose Ricardo  0.140685  1.714736  1.693141  1.182854  reprovado
 8          Bruno Silva  1.057378  1.907863  7.677946  3.547729  reprovado
 9        Marrone Silva  1.657365  6.366105  3.464940  3.829470  reprovado
 10       Jorge Antônio  9.483078  4.393049  3.189109  5.688412  reprovado
 11        José Massena  6.463985  0.067245  2.610220  3.047150  reprovado,
                quimica   prova_1   prova_2   prova_3     média     Status
 0          Jorge Tadeu  8.767038  0.737670  7.555155  5.686621  reprovado
 1   Richarlison mendes  8.915092  5.149840  0.708864  4.924599  reprovado
 3        Rafael Junior  6.135487  6.540568  5.233675  5.969910  reprovado
 4     Aleister Gabriel  5.621668  2.009238  8.337828  5.322912  reprovado
 6           Joao Vitor  5.395997  1.881086  2.624919  3.300667  reprovado
 8          Bruno Silva  2.549665  4.450836  3.815774  3.605425  reprovado
 9        Marrone Silva  2.020240  7.075289  6.610082  5.235204  reprovado
 10       Jorge Antônio  2.554240  5.824705  8.881372  5.753439  reprovado
 11        José Massena  3.425831  6.016686  5.740215  5.060911  reprovado]

[           portugues   prova_1   prova_2   prova_3     média    Status
 4   Aleister Gabriel  8.139750  1.637978  8.533264  6.103664  aprovado
 6         Joao Vitor  8.035590  1.095354  9.201362  6.110769  aprovado
 8        Bruno Silva  5.253757  7.240917  6.142450  6.212375  aprovado
 9      Marrone Silva  1.110718  8.831182  8.594788  6.178896  aprovado
 12    Renato alberto  5.656514  7.950240  4.613436  6.073397  aprovado,
           matematica   prova_1   prova_2   prova_3     média    Status
 0        Jorge Tadeu  6.827783  8.981734  7.068809  7.626109  aprovado
 2      Maria Eduarda  9.797298  2.662097  7.017319  6.492238  aprovado
 4   Aleister Gabriel  8.005475  3.141428  8.972978  6.706627  aprovado
 6         Joao Vitor  9.472655  5.019393  9.483074  7.991707  aprovado
 12    Renato alberto  3.236017  9.234250  7.534827  6.668365  aprovado,
         biologia   prova_1   prova_2   prova_3     média    Status
 2  Maria Eduarda  9.550968  3.280416  6.517713  6.449699  aprovado
 6     Joao Vitor  7.252182  7.151717  7.823372  7.409090  aprovado,
          historia   prova_1   prova_2   prova_3     média    Status
 2   Maria Eduarda  7.549682  8.778796  7.727172  8.018550  aprovado
 3   Rafael Junior  7.786413  9.543537  8.127616  8.485855  aprovado
 5     Julio Cesar  7.809948  3.477066  6.921316  6.069443  aprovado
 11   José Massena  2.530871  8.838416  8.440622  6.603303  aprovado,
         filosofia   prova_1   prova_2   prova_3     média    Status
 0     Jorge Tadeu  3.705725  9.815540  7.423069  6.981445  aprovado
 2   Maria Eduarda  5.440318  5.108122  7.963133  6.170524  aprovado
 9   Marrone Silva  8.167984  3.168567  9.038060  6.791537  aprovado
 10  Jorge Antônio  8.463378  9.406098  0.225371  6.031616  aprovado,
         geografia   prova_1   prova_2   prova_3     média    Status
 5     Julio Cesar  6.379215  8.635809  7.821993  7.612339  aprovado
 8     Bruno Silva  6.656334  3.510179  9.866010  6.677508  aprovado
 10  Jorge Antônio  4.841812  5.071655  9.912672  6.608713  aprovado,
             edu_fisica   prova_1   prova_2   prova_3     média    Status
 1   Richarlison mendes  7.891055  7.646101  6.363374  7.300177  aprovado
 5          Julio Cesar  8.848870  3.026288  8.652398  6.842519  aprovado
 6           Joao Vitor  9.370714  1.767408  7.590811  6.242978  aprovado
 9        Marrone Silva  8.343615  5.316357  8.976836  7.545603  aprovado
 12      Renato alberto  4.645920  6.574350  7.086311  6.102194  aprovado,
             fisica   prova_1   prova_2   prova_3    média    Status
 12  Renato alberto  8.175558  2.906694  7.170977  6.08441  aprovado,
            quimica   prova_1   prova_2   prova_3     média    Status
 2    Maria Eduarda  5.702155  8.356946  7.374137  7.144412  aprovado
 5      Julio Cesar  7.991128  5.254053  9.690860  7.645347  aprovado
 7     Jose Ricardo  7.384916  9.067428  8.627768  8.360037  aprovado
 12  Renato alberto  9.908652  2.830674  7.521222  6.753516  aprovado]