Tratar dados 'tempo.csv'
Aparência: sol, nublado, chuva
Temperatura: -130~130 F
Umidade: 0 ~ 100
Jogar: sim/nao
Tratar valores NAs

In [21]:
import pandas as pd 
import statistics as sts

In [22]:
df_tempo = pd.read_csv('tempo.csv',sep=';')
display(df_tempo.head())
display(df_tempo.isnull().sum())
''' Nulos na coluna umidade e Vento '''

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

' Nulos na coluna umidade e Vento '

In [23]:
df_tempo.shape

(14, 5)

In [24]:
#vamos fazer os agrupamentos e ver se encontramos algum erro 
grupo_aparencia = df_tempo.groupby(['Aparencia'])
display(grupo_aparencia.size())

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [25]:
grupo_temperatura = df_tempo.groupby(['Temperatura'])
display(grupo_temperatura.size())
display(df_tempo['Temperatura'].describe())

''' Temperatura de 1220 é o único problema aparente
'''

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

' Temperatura de 1220 é o único problema aparente\n'

In [26]:
grupo_umidade = df_tempo.groupby(['Umidade']).size()
display(grupo_umidade)
display(df_tempo['Umidade'].isnull().sum())

''' Umidade de 200 fora do limite permitido 
    Possui um componente NaN
'''

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

1

' Umidade de 200 fora do limite permitido \n    Possui um componente NaN\n'

In [27]:
grupo_vento = df_tempo.groupby(['Vento']).size()
display(grupo_vento)
display(df_tempo['Vento'].isnull().sum())

#Possui um valor nulo, e deve ser falso ou verdadeiro

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

1

In [28]:
grupo_jogar = df_tempo.groupby(['Jogar']).size()
display(grupo_jogar)
display(df_tempo['Jogar'].isnull().sum())

#Tudo certo com a coluna jogar

Jogar
nao    5
sim    9
dtype: int64

0

In [29]:
display(grupo_aparencia.size())

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [30]:
#Na coluna aparência tem um valor chamado MENOS, mas não deveria 
#chuva é a moda, ou seja, o valor que mais aparece... junto com sol

df_tempo.loc[df_tempo['Aparencia'] == 'menos','Aparencia'] = 'chuva'

In [31]:
novo_grupo_aparencia = df_tempo.groupby(['Aparencia'])
display(novo_grupo_aparencia.size())

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [32]:
display(df_tempo['Temperatura'].describe())
mediana = sts.median(df_tempo['Temperatura'])
mediana

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

73.5

In [33]:
# agora resolver temperatura de 1220
# substituir o valor por mediana 
df_tempo.loc[df_tempo['Temperatura']==1220,'Temperatura'] = 73.5
display(df_tempo['Temperatura'].describe())

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [36]:
mediana = sts.median(df_tempo['Umidade'])
mediana

85.5

In [52]:
#Agora resolvendo o problema de Valor Nan e umidade de 200 na coluna umidade
df_tempo.loc[df_tempo['Umidade']==200,'Umidade'] = mediana
df_tempo['Umidade'].fillna(mediana,inplace=True)

In [54]:
#Na coluna vento vamos preencher o NaN com a moda dessa coluna 
# a moda é falso
df_tempo['Vento'].fillna('FALSO',inplace=True)

In [55]:
novo_grupo_vento = df_tempo.groupby(['Vento']).size()
display(novo_grupo_vento)

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [56]:
# Tabela tratada e pronta para ser analisada
df_tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao